.home {
    background: url('https://images.unsplash.com/photo-1508919801845-fc2ae1bc2a28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1nfGVufDB8fDB8fA%3D%3D&w=1000&q=80') center center/cover;
    background-repeat: no-repeat;
    animation: opoacity 0.9s ease-in-out;
    border-radius: 60px 10px;
    height: 80vh;
    box-shadow: 0px 0px 12px 2px rgb(255, 255, 255, 0.4);
}

.home .main {
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    animation: movein 0.5s ease;
    min-width: 250px;
    min-height: 350px;
}

.home .main:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
}

.home .main:not(:hover),
.navbar li:not(:hover) {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.w-sm-50 {
    width: 30%;
    font-size: larger;
}

.home .main .box {
    font-size: large;
}

@keyframes movein {
    0% {
        transform: translate(-100%);
    }
}

details summary {
    list-style: none;
}

.width {
    padding: 12px;
}

.overflowx-hidden {
    overflow-x: hidden !important;
}

.overflow-scroll {
    overflow-x: scroll;
}

.overflow-scroll::-webkit-scrollbar,
.overflow-scroll1::-webkit-scrollbar {
    display: none;
}

.absolute-filter {
    position: relative;
    margin-top: 70px;
    margin-right: 100%;
    z-index: 2;
}

.spinner {
    position: fixed;
    top: 40%;
    left: 30%;
    width: 40%;
    filter: brightness(0);
    z-index: 3;
}

.title {
    font-weight: 700;
    font-size: x-large;
    margin-left: 20px;
    font-family: sans-serif;
}

.title::first-letter {
    font-size: 50px;
    font-weight: 700;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.img-fluid {
    width: 130px;
    margin: auto;
}

.navbar li:hover {
    transform: scale(1.3);
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease 0.2s;
}

.bg-custum {
    color: rgba(0, 0, 0, 0.8);
    background: #f12711;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f5af19, #f12711);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, rgb(235, 177, 69), rgb(241, 166, 68), rgb(253, 143, 0));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    width: 200px;
}

button span {
    scale: 2.2;
    padding: 20px;
    margin: 12px;
    border: 2px solid black;
    border-radius: 5px;
}

.text-responsive{
    font-size: larger;
}



.relative {
    position: relative !important;
    font-size: 30px;
    left: 90%;
    margin: 20px auto;
    cursor: pointer;
    z-index: 2;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 100vw;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    color: aliceblue;
    font-size: xx-large;
}

.loader img {
    width: 40%;
}

.text-responsive>button,
input {
    font-size: large;
    background: white;
}

.w-fixed {
    width: 350px;
    margin: auto;
}