.home {
    background: url('https://images.unsplash.com/photo-1508919801845-fc2ae1bc2a28?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8aW1nfGVufDB8fDB8fA%3D%3D&w=1000&q=80') center center/cover;
    background-repeat: no-repeat;
    height: 80vh;
    animation: opoacity 0.9s ease-in-out;
    border-radius: 60px 10px;
    box-shadow: 0px 0px 15px 5px rgb(255, 255, 255);
}

.home .main {
    z-index: 2;
    background: rgba(255, 255, 255, 0.5);
    animation: movein 0.5s ease;
    min-width: 250px;
    min-height: 350px;
}

.home .main:hover {
    transform: scale(1.1);
    transition: all 0.4s ease;
}

.home .main:not(:hover) {
    transform: scale(1);
    transition: all 0.3s ease-in-out;
}

.home .main .box {
    font-size: large;
}

@keyframes movein {
    0% {
        transform: translate(-100%);
    }
}

details summary {
    list-style: none;
}

.width {
    padding: 12px;
}

.overflowx-hidden {
    overflow-x: hidden !important;
}

.overflow-scroll {
    overflow-x: scroll;
}

.overflow-scroll::-webkit-scrollbar,
.overflow-scroll1::-webkit-scrollbar {
    display: none;
}

.absolute-filter {
    position: relative;
    margin-top: 70px;
    margin-right: 100%;
    z-index: 2;
}

.spinner {
    position: fixed;
    top: 40%;
    left: 40%;
    width: 20%;
    z-index: 3;
    }

.spinner img {
    border-radius: 100%;
    border: 3px solid black;
    padding: 5px;
}

.relative {
    position: relative !important;
    font-size: 30px;
    left: 90%;
    margin: 20px auto;
    cursor: pointer;
    z-index: 2;
}

.loader {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    width: 100vw;
    flex-direction: column;
    height: 100vh;
    padding: 20px;
    color: aliceblue;
    font-size: xx-large;
    aspect-ratio: 1/1;
}

.loader img {
    width: 40%;
}

.text-responsive>button,
input {
    font-size: large;
    background: white;
}

.w-fixed {
    width: 350px;
    margin: auto;
}

@media (max-width:650px) {

    .text-responsive label,
    button,
    input {
        font-size: 8px;
        text-transform: capitalize;
        padding: 1px;
    }

    .w-fixed {
        width: 250px;
    }

    .text-responsive h5,
    h2,
    h1,
    h4 {
        font-size: medium;
    }

    .text-responsive .text-sm {
        font-size: smaller;
        width: 5rem;
        padding: 1px;
    }

    .home .main .box {
        font-size: larger;
        margin: 0%;
    }

    .home .main .box h2 {
        font-size: large;
    }

    .home .main {
        margin: 0%;
    }

    .home {
        margin: 0%;
    }
}

@media (max-width:350px) {
    .text-responsive {
        font-size: xx-small;
    }

    .text-responsive h5,
    h2,
    h1,
    h4 {
        font-size: medium;
    }

    .text-responsive label {
        text-align: center;
        font-size: 12px;
    }

}
