* {
    margin: 0%;
    padding: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.bg {
    background-repeat: no-repeat;
    background-size: cover;
    animation:opoacity 0.5s  ease;
    background: linear-gradient(90deg, hsla(280, 95%, 57%, 1) 0%, hsla(193, 90%, 55%) 100%);
}
@keyframes opoacity {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
}